version: '3.4'

services:
  elephant:
    container_name: Elephant
    image: ${DOCKER_REGISTRY-}elephant
    build:
      context: .
      dockerfile: Elephant/Dockerfile
    ports:
      - "80:80"
    links:
      - "postgres:postgres"
      - "admin_api:admin_api"
    networks:
      - nginx_network

  postgres:
    container_name: Postgres
    image: postgres:latest
    environment:
      POSTGRES_DB: "elephant"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "admin"
    ports:
      - "5432:5432"
    networks:
      - nginx_network

  admin_api:
    container_name: Admin_api
    restart: always
    build:
      context: .
      dockerfile: api/admin/Dockerfile
    ports:
      - "5000:5000"
    links:
      - "postgres:postgres"
    networks:
      - nginx_network
    env_file:
      - api/admin/api_variables.env

networks:
   nginx_network:
     driver: bridge