@{
    ViewData["Title"] = "Admin page";
}
<div class="text-center">
    <h1>
        АДМИНКА
    </h1>
    <div class="d-flex justify-content-center">
        <div>
            <a href="/admin/catalog" class="btn btn-info d-inline-flex m-2" role="button">Список товаров</a>
        </div>
        <div>
            <a href="/admin/categories" class="btn btn-info d-inline-flex m-2" role="button">Список категорий</a>
        </div>
    </div>
</div>