@{
    ViewData["Title"] = "Admin page";
}
<div class="text-center">
    <h1>
        Каталог
    </h1>
    <div class="d-flex justify-content-center">
        <div>
            <a href="#" class="btn btn-info d-inline-flex m-2" role="button">#</a>
        </div>
        <div>
            <a href="#" class="btn btn-info d-inline-flex m-2" role="button">##</a>
        </div>
    </div>
</div>
