@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
    <h1>
        Вход
    </h1>
</div>
<a class="btn btn-light d-inline-flex m-2" href="/login/registration">Регистрация</a>
<form method="post" action="http://gateway:5003/api/login">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" name="login" placeholder="Enter login">
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" placeholder="Password">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Войти</button>
    </div>
</form>
