@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>
        АДМИНКА
    </h1>
    <div>Тут будет кнопка в список категорий</div>
    <div>Тут будет кнопка в список товаров</div>
</div>