<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Elephant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container flex-row">
                <a class="navbar-brand" href="/">Elephant</a>
                @if (ViewData["JWT"] == null)
                {
                    <a class="btn btn-light d-inline-flex m-2" href="/login/index">Вход</a>
                }
                else if ((string)ViewData["Role"] == "A")
                {
                    <div class="container ml-auto mr-0 flex-row" style="width: 300px;">
                        <a class="btn btn-light d-inline-flex m-2" href="/admin/index">Админка</a>
                        <a class="btn btn-light d-inline-flex m-2" href="/cart">Корзина</a>
                        <a class="btn btn-light d-inline-flex m-2" href="http://localhost:5003/auth/logout">Выход</a>
                    </div>
                }
                else if ((string)ViewData["Role"] == "U")
                {
                    <div class="container ml-auto mr-0 flex-row" style="width: 250px;">
                        <a class="btn btn-light d-inline-flex m-2" href="/cart">Корзина</a>
                        <a class="btn btn-light d-inline-flex m-2" href="http://localhost:5003/auth/logout">Выход</a>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Elephant
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
